<ifModule mod_php5.c>
	php_value zlib.output_compression 16386
	php_value register_globals off
	php_value session.use_trans_sid 0
	php_value default_charset iso-8859-1
	php_value default_charset iso-8859-1
	php_value exif.encode_unicode iso-8859-1
</ifModule>

Options -indexes
<FilesMatch "\.(pdf|txt|exe)$">
AddType application/octet-stream .txt .pdf .exe
Header set Content-Disposition attachment
</FilesMatch>

<IfModule mod_expires.c>
ExpiresActive On

ExpiresByType image/jpg A432000
ExpiresByType image/jpeg A432000
ExpiresByType image/png A432000
ExpiresByType image/ico A432000
ExpiresByType text/css A432000
ExpiresByType text/javascript A432000
ExpiresByType application/javascript A432000
ExpiresByType application/x-javascript A432000
</ifmodule>

<Files .htaccess>
Order allow,deny
Deny from all
</Files>